.bq-primary .bq-title {
    color: #f35b5b!important;
    font-size: 1.5rem;
}
.bq-primary {
    border-left: 3px solid #ffa85d!important;
    margin-left: 2px;
}
table, th{
    font-weight: 300;
}
table, caption{
    font-size: 1.1rem;
}